<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ul>
  <!-- END BREADCRUMB -->

  <!-- PAGE TITLE -->
  <div class="page-title">
    <h2>{{title}}</h2>
  </div>
  <!-- END PAGE TITLE -->

  <!-- PAGE CONTENT WRAPPER -->
  <div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <!-- Nav -->
            <div *ngIf="idRol<=2" class="col-md-3">
                <div class="btn-group btn-group-justified">
                    <a style="cursor:pointer;" routerLinkActive="active" [routerLink]="[ './../usuarios' ]" class="btn btn-default"><i class="fa fa-list"></i>Usuarios</a>
                </div>

            </div>
            <!-- End Nav -->
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <button *ngIf="Agregar==1" type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Nuevo</button>
                    </h3>
                    <ul class="panel-controls">
                        <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width:80%;">
                                  <mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter></th>
                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                                <td>{{((data.nombre!=null)?data.nombre:'')}}</td>
                                <td>

                                  <button *ngIf="Modificar==1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                  <button *ngIf="Eliminar==1" type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="2" style="width:100%;">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->

            <!-- Inicio Modal Ingreso -->
              <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Ingreso de datos</h4>
                        </div>
                        <div>
                            <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                              <div class="form-group col-xs-12 m-b-15">
                                <label for="descripcion">Descripcion</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                  <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                          ngModel #descripcion="ngModel" placeholder="descripcion">
                                </div>
                                  <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                        class="alert alert-danger" role="alert">
                                      <small *ngIf="descripcion.errors.required">
                                          El Descripcion es invalido
                                      </small>
                                  </div>
                              </div>
                              <div class="form-group col-xs-12 text-right m-b-15">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                  <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                              </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="border:none;">
                        </div>
                    </div>
                </div>
              </div>
            <!-- Final Modal Ingreso -->

            <!-- Inicio Modal Ingreso -->
              <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Edicion de datos</h4>
                        </div>
                        <div>
                            <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                              <div class="form-group col-xs-12 m-b-15">
                                <label for="descripcion">Descripcion</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                  <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                          ngModel #descripcion="ngModel" placeholder="descripcion" [(ngModel)]="selectedData.descripcion">
                                </div>
                                  <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                        class="alert alert-danger" role="alert">
                                      <small *ngIf="descripcion.errors.required">
                                          El Descripcion es invalido
                                      </small>
                                  </div>
                              </div>
                              <input type="hidden" class="form-control" id="id" name="id" required
                                          ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                              <div class="form-group col-xs-12 text-right m-b-15">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                  <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                              </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="border:none;">
                        </div>
                    </div>
                </div>
              </div>
            <!-- Final Modal Ingreso -->

  <!-- Inicio Notificaciones -->
    <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
  <!-- Inicio Loader Modal -->
    <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  <!-- Fin Loader Modal -->
