<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">{{title}}</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>{{title}}</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">
          <!-- Nav -->
          <div *ngIf="idRol<=2" class="col-md-3">
              <div class="btn-group btn-group-justified">
                  <a style="cursor:pointer;" routerLinkActive="active" [routerLink]="[ './../puestos' ]" class="btn btn-default"><i class="fa fa-list"></i>Puestos</a>
              </div>

          </div>
          <!-- End Nav -->
          <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Nuevo</button>
                  </h3>
                  <ul class="panel-controls">
                      <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                  </ul>
              </div>
              <div class="panel-body">
                  <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
                  [mfRowsOnPage]="rowsOnPage">
                      <thead>
                          <tr>
                              <th style="width:20%;">
                                <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                              <th style="width:20%;">
                                <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter></th>
                              <th style="width:20%;">
                                <mfDefaultSorter by="direccion">Direccion</mfDefaultSorter></th>
                              <th style="width:20%;">
                                <mfDefaultSorter by="puestos.descripcion">Puesto</mfDefaultSorter></th>
                              <th style="width:20%;"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of mf.data">
                              <td>{{((data.nombre!=null)?data.nombre+' ':'')+((data.apellido!=null)?data.apellido:'')}}</td>
                              <td>{{((data.telefono!=null)?data.telefono:'')}}</td>
                              <td>{{((data.direccion!=null)?data.direccion:'')}}</td>
                              <td>{{((data.puestos!=null)?data.puestos:'')}}</td>
                              <td>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="2" style="width:100%;">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                  </table>
              </div>
          </div>
          <!-- END DEFAULT DATATABLE -->

          <!-- Inicio Modal Ingreso -->
            <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Ingreso de datos</h4>
                      </div>
                      <div>
                          <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="nombre">Nombre</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="nombre" name="nombre" required
                                        ngModel #nombre="ngModel" placeholder="Nombre">
                              </div>
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="nombre.errors.required">
                                        El Nombre es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="apellido">Apellido</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="apellido" name="apellido" required
                                        ngModel #apellido="ngModel" placeholder="Apellido">
                              </div>
                                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="apellido.errors.required">
                                        El Apellido es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="direccion">Direccion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="direccion" name="direccion" required
                                        ngModel #direccion="ngModel" placeholder="Direccion">
                              </div>
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="direccion.errors.required">
                                        La Direccion es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 m-b-15">
                              <label for="telefono">Telefono</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="telefono" name="telefono" required
                                        ngModel #telefono="ngModel" placeholder="Telefono">
                              </div>
                                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="telefono.errors.required">
                                        El Telefono es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 m-b-15">
                              <label for="celular">Celular</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="celular" name="celular"
                                        ngModel #celular="ngModel" placeholder="Celular">
                              </div>
                                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="celular.errors.required">
                                        El Celular es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="sueldo">Sueldo</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="number" class="form-control" id="sueldo" name="sueldo"
                                        ngModel #sueldo="ngModel" placeholder="Sueldo">
                              </div>
                                <div *ngIf="sueldo.invalid && (sueldo.dirty || sueldo.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="sueldo.errors.required">
                                        El Sueldo es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="sucursal">Sucursal</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control" id="sucursal" name="sucursal"
                                        ngModel #sucursal="ngModel">
                                  <option value=""></option>
                                  <option *ngFor="let data of secondParentCombo" value="{{data.id}}">{{data.nombre}}</option>
                                </select>
                              </div>
                                <div *ngIf="sucursal.invalid && (sucursal.dirty || sucursal.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="sucursal.errors.required">
                                        La Sucursal es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="puesto">Puesto</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control" id="puesto" name="puesto"
                                        ngModel #puesto="ngModel">
                                  <option value=""></option>
                                  <option *ngFor="let data of parentCombo" value="{{data.id}}">{{data.descripcion}}</option>
                                </select>
                              </div>
                                <div *ngIf="puesto.invalid && (puesto.dirty || puesto.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="puesto.errors.required">
                                        El Puesto es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>
                          <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="nombre">Nombre</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="nombre" name="nombre" required
                                        ngModel #nombre="ngModel" placeholder="Nombre" [(ngModel)]="selectedData.nombre">
                              </div>
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="nombre.errors.required">
                                        El Nombre es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="apellido">Apellido</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="apellido" name="apellido" required
                                        ngModel #apellido="ngModel" placeholder="Apellido" [(ngModel)]="selectedData.apellido">
                              </div>
                                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="apellido.errors.required">
                                        El Apellido es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="direccion">Direccion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="direccion" name="direccion" required
                                        ngModel #direccion="ngModel" placeholder="Direccion" [(ngModel)]="selectedData.direccion">
                              </div>
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="direccion.errors.required">
                                        La Direccion es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 m-b-15">
                              <label for="telefono">Telefono</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="telefono" name="telefono" required
                                        ngModel #telefono="ngModel" placeholder="Telefono" [(ngModel)]="selectedData.telefono">
                              </div>
                                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="telefono.errors.required">
                                        El Telefono es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-6 m-b-15">
                              <label for="celular">Celular</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="celular" name="celular"
                                        ngModel #celular="ngModel" placeholder="Celular" [(ngModel)]="selectedData.celular">
                              </div>
                                <div *ngIf="celular.invalid && (celular.dirty || celular.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="celular.errors.required">
                                        El Celular es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="sueldo">Sueldo</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="number" class="form-control" id="sueldo" name="sueldo"
                                        ngModel #sueldo="ngModel" placeholder="Sueldo" [(ngModel)]="selectedData.sueldo">
                              </div>
                                <div *ngIf="sueldo.invalid && (sueldo.dirty || sueldo.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="sueldo.errors.required">
                                        El Sueldo es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="sucursal">Sucursal</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control" id="sucursal" name="sucursal"
                                        ngModel #sucursal="ngModel" [(ngModel)]="selectedData.sucursal">
                                  <option value=""></option>
                                  <option *ngFor="let data of secondParentCombo" value="{{data.id}}">{{data.nombre}}</option>
                                </select>
                              </div>
                                <div *ngIf="sucursal.invalid && (sucursal.dirty || sucursal.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="sucursal.errors.required">
                                        La Sucursal es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-4 m-b-15">
                              <label for="puesto">Puesto</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control" id="puesto" name="puesto"
                                        ngModel #puesto="ngModel" [(ngModel)]="selectedData.puesto">
                                  <option value=""></option>
                                  <option *ngFor="let data of parentCombo" value="{{data.id}}">{{data.descripcion}}</option>
                                </select>
                              </div>
                                <div *ngIf="puesto.invalid && (puesto.dirty || puesto.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="puesto.errors.required">
                                        El Puesto es invalido
                                    </small>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="id" name="id" required
                                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                            <div class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
<!-- Fin Loader Modal -->
